.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    background-color: #eaebec;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  
  .user-circle {
    width: 40px;
    height: 40px;
    background-color: #4FB3C2;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
  }
  
  .dropdown-arrow {
    font-size: 14px;
    color: #333;
    margin-left: 5px;
    transition: transform 0.3s ease;
  }
  
  .user-info:hover .dropdown-arrow {
    transform: rotate(180deg);
  }
  
  /* תפריט נפתח */
  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 120px;
    padding: 10px;
    text-align: center;
    animation: fadeIn 0.3s ease-in-out;
  }
  
  .logout-button {
    background-color:white;
    color: black;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  .logout-button:hover {
    background-color: white;
  }
  
  /* אפקט אנימציה */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-5px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  